th {
  cursor: pointer;
}

th.ascending::after {
  content: url("./media/images/angle-down-solid.svg");
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 0.5em;
  transform: translateY(50%);
}

th.descending::after {
  content: url("./media/images/angle-down-solid.svg");
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 0.5em;
  transform: translateY(100%) rotate(180deg);
}
